h1{
  text-align: center;
  font-size: x-large;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
}

.main-child{
    margin-left: auto;
    border: 3px solid #f8d302;
    padding: 1%
}

#pizza{
    width: 100%;
}

#burger {
    width:100%;
}